<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:uses-sdk="http://schemas.android.com/apk/distribution"
    package="com.aymentlili.aamoomor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Fragments.Home.Biding_Item"></activity>
        <activity android:name=".Fragments.Home.Add_Estate" />
        <activity android:name=".Fragments.Home.Estate_profile" />
        <activity android:name=".Fragments.Home.Home_page" />
        <activity android:name=".Fragments.Home.User_profile" />
        <activity android:name=".Activitys.Home" />
        <activity android:name=".Fragments.start.Subscribe_b" />
        <activity android:name=".Fragments.start.Log_in" />
        <activity android:name=".Activitys.Start_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>